body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    color: #333;
    background-image: url("");
    background-size: cover;      /* Ajusta la imagen a la pantalla */
    background-repeat: no-repeat;
    background-position: center;
}


header {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    margin: 0.5rem 0;
}

section {
    padding: 2rem 1rem;
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h1{
    font-family: sans-serif;
    font-size: 45px;
}

#presentacion{
    text-align: center;
}

h2 {
    text-align: center;
    margin: 0;
    color: #222;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 0.5rem 0;
}

.corte{
    padding-left: 70px;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input[type="text"],
form input[type="number"] {
    width: 80%;
    padding: 0.5rem;
    margin-top: 0.2rem;
    box-sizing: border-box;
}


.button-reservar{
    width: 50%;
    height: 80px;
    color: #fff;
    background-color: #222;
    font-size: 18px;
}

.button-reservar:hover{
    color: green;
    font-size: 22px;
}

#carnet{
    font-size: 16px;

}

#buttonOfEnd{
    text-align: center;
}

form button {
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: #444;
    color: #fff;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
}
